<html>
    <head>
        <title>RapidWSGI Framework</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    </head>
    <body>
        <div id="container" >
            <div id="header">
                <div id="menu">
                    <ul id="footer">
                        <li><a href="default">Specification</a></li>
                        <li><a href="Schedule">Schedule</a></li>
                        <li><a href="api">API</a></li>
                        <li><a href="help">Help</a></li>

                    </ul>
                </div>
               
            </div>