<html>
    <head>
        <title>RapidWSGI Framework</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    </head>
    <body>
        <div id="container" >
            <div id="header">
            		<a href="#"class="logo"></a>
                    <ul class="menu">
                        <li><a href="/rapidwsgi/home">Home</a></li>
                        <li><a href="/rapidwsgi/home/info">Info</a></li>
                        <li><a href="/rapidwsgi/home/form">Form</a></li>
                    </ul>
                
            </div>
              <div class="clear"></div>