<html>
    <head>
        <title>RapidWSGI Framework</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    </head>
    <body>
        <div id="container" >
            <div id="header">
                <div id="menu">
                    <ul id="footer">
                        <li><a href="default">Specification</a></li>
                        <li><a href="Schedule">Schedule</a></li>
                        <li><a href="api">API</a></li>
                        <li><a href="help">Help</a></li>

                    </ul>
                </div>
               
            </div>
            <div id="content"> 
                <div class="left">
                    <h1> Specification</h1>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus arcu leo, egestas id semper id, dapibus ac nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut scelerisque tincidunt faucibus. Duis sed arcu ut magna porttitor rutrum ac sed orci. Quisque tristique euismod lacus quis sagittis. Nulla id diam velit, ac dignissim neque. Nunc neque tortor, volutpat vitae suscipit at, aliquet a elit. Vestibulum quis lacus eget metus laoreet eleifend a vel risus. Morbi vel ante mi. Maecenas vehicula elementum nibh in sagittis. Nam lobortis orci sit amet metus scelerisque faucibus hendrerit purus luctus. In vitae ultricies nisl. Vestibulum dictum tempor rutrum.
                    </p><p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus arcu leo, egestas id semper id, dapibus ac nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut scelerisque tincidunt faucibus. Duis sed arcu ut magna porttitor rutrum ac sed orci. Quisque tristique euismod lacus quis sagittis. Nulla id diam velit, ac dignissim neque. Nunc neque tortor, volutpat vitae suscipit at, aliquet a elit. Vestibulum quis lacus eget metus laoreet eleifend a vel risus. Morbi vel ante mi. Maecenas vehicula elementum nibh in sagittis. Nam lobortis orci sit amet metus scelerisque faucibus hendrerit purus luctus. In vitae ultricies nisl. Vestibulum dictum tempor rutrum. </p>
            </div>
                <div class="right">
                    <img src="/static/images/image.png" alt="image" />
                </div>
            </div>
            <div id="footer"> CodenDev<hr>2010</div>
        </div>      
    </body>
</html>