/* 
    Document   : style
    Created on : Jul 20, 2010, 2:45:33 AM
    Author     : Shahrukh
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body { font-family: sans-serif; font-size: 12px;  margin:0px; padding:0px;}

a { color: green;}
a:visited {color:green;}
a:hover {color:yellow;}

#header {
    
   
    height: 100px;
  
}
.logo{
	background: url('../images/logo.png') no-repeat transparent;
	width:150px;
    height: 75px;
    display:inline-block;;
	
}

#container {
    width:971px;
    margin-left:auto;
    margin-right: auto;
    background-color: #ffffff;
}

ul.menu {
    font-size: 14px;
    float:right;
}

ul.menu{list-style:none; margin-top: 0px;}
ul.menu li{display:inline;padding:4px;}

#content { margin-top:5px; }

.left {
    float:left;
    width:591px;
}


.right{
 float:right;
}

.clear{
	
	clear:both;
}

#footer {
    margin-top: 5px;
    text-align: right;
}

#content h1{font-family: arial; font-weight:normal;}