<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /rapidwsgi
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^wiki.*  index.wsgi/wiki?page=$0 [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.wsgi/$1 [L]
   
</IfModule>